/* DropZone style */
.drop-zone {
    width: 600px;
    height: 800px;
    border: 1px solid #00000000;
    border-radius: 10px;
    padding: 10px;
    background-color: #00000033;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow-y: auto;
  }
  .drop-zone.over {
    background-color: lightblue;
  }
  
  /* DraggableCard style */
  .draggable-card {
    width: 90%;
    margin: 5px 0;
    padding: 10px;
    background-color: #333333;
    border: 1px solid #888888;
    /* border-color: #ff0000; */
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    text-align: center;
    cursor: 'move';
  }
  
  .draggable-card:hover {
    opacity:0.5;
    cursor: 'move';
  }